/* Flat UI Colors */
$turquoise: #1abc9c;
$green-sea: #16a085;
$emerald: #2ecc71;
$nephritis: #27ae60;
$peter-river: #3498db;
$belize-hole: #2980b9;
$amethyst: #9b59b6;
$wisteria: #8e44ad;
$wet-asphalt: #34495e;
$midnight-blue: #2c3e50;
$sun-flower: #f1c40f;
$orange: #f39c12;
$carrot: #e67e22;
$pumpkin: #d35400;
$alizarin: #e74c3c;
$pomegranate: #c0392b;
$clouds: #ecf0f1;
$silver: #bdc3c7;
$concrete: #95a5a6;
$asbestos: #7f8c8d;


.alizarin { background: $alizarin !important; }
.sun-flower { background: $sun-flower !important; }
.emerald { background: $emerald !important; }

/* Font with fallback */
$font: 'proxima-nova', 'Lato', 'Source Sans Pro', 'Raleway', Arial, sans-serif;

/*--------*/
/* Mixins */
/*--------*/

/* Transition */
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

/* Border Radius */
@mixin rounded($radius...) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
  
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

/* Box-shadow */
@mixin box-shadow($value){
  -webkit-box-shadow: $value;
  -moz-box-shadow: $value;
  box-shadow: $value;
}

/* User Select */
@mixin user-select($value){
	-webkit-user-select: $value;       
	-moz-user-select: $value;
	-ms-user-select: $value;
}

/* Filter */
@mixin filter($filter-type,$filter-amount) { 
  -webkit-filter: $filter-type+unquote('(#{$filter-amount})');
  -moz-filter: $filter-type+unquote('(#{$filter-amount})');
  -ms-filter: $filter-type+unquote('(#{$filter-amount})');
  -o-filter: $filter-type+unquote('(#{$filter-amount})');
  filter: $filter-type+unquote('(#{$filter-amount})');
}

/* Appearance */
@mixin appearance($value){
  -moz-appearance: $value;
  -webkit-appearance: $value;
  appearance: $value;
}

/* Aspect Ratio */
@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

/* Transform Base */
@mixin transform($transforms) {
	   -moz-transform: $transforms;
	     -o-transform: $transforms;
	    -ms-transform: $transforms;
	-webkit-transform: $transforms;
            transform: $transforms;
}

/* Transform - Scale */
@mixin scale($scale) {
	 @include transform(scale($scale));
}

/* Transform - Translate */
@mixin translate($x, $y) {
   @include transform(translate($x, $y));
}

/* Transform - Skew */
@mixin skew($x, $y) {
   @include transform(skew(#{$x}deg, #{$y}deg));
}

/* Transform - Origin */
@mixin transform-origin($origin) {
		moz-transform-origin: $origin;
		 -o-transform-origin: $origin;
		-ms-transform-origin: $origin;
	-webkit-transform-origin: $origin;
			transform-origin: $origin;
}

/* Linear Gradient */
@mixin linear-gradient($direction, $color-stops...) {
  @if is-direction($direction) == false {
    $color-stops: ($direction, $color-stops);
    $direction: 180deg;
  }
  
  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
  background: linear-gradient($direction, $color-stops);
}
@function convert-angle($value, $unit) {
  $convertable-units: deg grad turn rad;
  $conversion-factors: 1 (10grad/9deg) (1turn/360deg) (3.1415926rad/180deg);
  @if index($convertable-units, unit($value)) and index($convertable-units, $unit) {
    @return $value
             / nth($conversion-factors, index($convertable-units, unit($value)))
             * nth($conversion-factors, index($convertable-units, $unit));
  }
  
  @warn "Cannot convert `#{unit($value)}` to `#{$unit}`.";
}
@function is-direction($value) {
  $is-direction: index((to top, to top right, to right top, to right, to bottom right, to right bottom, to bottom, to bottom left, to left bottom, to left, to left top, to top left), $value);
  $is-angle: type-of($value) == 'number' and index('deg' 'grad' 'turn' 'rad', unit($value));
  
  @return $is-direction or $is-angle;
}
@function legacy-direction($value) {
  @if is-direction($value) == false {
    @warn "Cannot convert `#{$value}` to legacy syntax because it doesn't seem to be an angle or a direction";
  }
  
  $conversion-map: ( 
    to top          : bottom,
    to top right    : bottom left,
    to right top    : left bottom,
    to right        : left,
    to bottom right : top left,
    to right bottom : left top,
    to bottom       : top,
    to bottom left  : top right,
    to left bottom  : right top,
    to left         : right,
    to left top     : right bottom,
    to top left     : bottom right
  );
    
  @if map-has-key($conversion-map, $value) {
    @return map-get($conversion-map, $value);
  }
  
  @return 90deg - convert-angle($value, 'deg');
}

/* Calculate REM */
@function calculateRem($size) {
  @return #{$size / 16px}rem;
}
@function rem($size) {
  @return calculateRem($size);
}

/*---------*/
/* Presets */
/*---------*/

/* body */
body {
	background: $clouds;
	font-family: $font;
	height: 100vh;
	width: 100vw;
}

/* Float: left/right */
.pull-left { float: left; }
.pull-right { float: right; }

/* Flex center */
.flex-center {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	justify-content: center;
}

/* Flex */
.flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

/* Outline none */
*, *:focus, *:active { outline: none }

.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

$alizarin: #333;
$iphone-color: white;
$font: Arial, Helvetica, sans-serif;
$primary-color: $alizarin;


body {
	color:#333;
	display: flex;
	align-items: center;
  	justify-content: center;
}

.svg {
	path {
		fill: white;
	}
}

h3 {
	cursor: default;
	font-weight: 600;
	font-size: 12px;
	letter-spacing: 1px;
	margin: 0 0 15px;
	text-transform: uppercase;
}

p {
	cursor: default;
	
	&.info-text {
		color: darken(white, 30%);
		font-size: 10px;
	}
}

.fa.add {
	position: relative;
	
	&::after {
		background: #444444;
		border-radius: 100px;
		content: '\f055';
		font-size: 10px;
		left: 2px;
		position: absolute;
		top: -1px;
		width: 10px;
		height: 11px;
	}
}

div#wrapper {
	height:100%;
	overflow: hidden;
	position: relative;
	width: 100%;
}

div#screen {
	background: darken($iphone-color, 60%);
	border-radius: 4px;
	height:100%;
	overflow: hidden;
	position: relative;
	width: 100%;
	z-index: 1;
}

div#content-wrap {
	background: #333;
	height: 100%;
	overflow: hidden;
	position: relative;
	z-index: 5;
}

div#content {
	//padding: 15px;
	position: relative;
	z-index: 2;
}

div#background {
	background-size: cover;
	background-position: center;
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
	@include filter(blur, 10px);
	@include transition(background-image 0.25s ease);
	
	&::before {
		background: #333;
		content: '';
		display: block;
		height: 100%;
		opacity: 0.5;
		position: absolute;
		width: 100%;
	}
	
	&::after {
		content: '';
		display: block;
		height: 100%;
		position: absolute;
		width: 100%;
		@include linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(50, 50, 50, 1) 100%);
	}
}


div.jcarousel {
	position: relative;
	//display: flex;
	overflow: hidden;
	text-align: center;
	text-align: center;
	height: 450px;
	margin: 0em;
	


	ul#songs {
	
		
		
		li.song {
			//float: left;
			
			
			text-align: center;
			width: calc(300px - 30px);
			list-style-type: none;
			position: absolute;
			top: 50%;
			left: 50%;
			margin-right: -50%;
			transform: translate(-50%, -50%) ;

			
			img {
				width: 92.5%;
				@include box-shadow(0px 5px 25px rgba(50, 50, 50, 0.5));
			}

			p {
				color: white;
				text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);

				&.song-title {
					font-size: 16px;
					font-weight: 600;
					margin: 10px 0 5px;
				}
				&.song-artist {
					color: darken(white, 30%);
					font-size: 12px;
					margin: 0;
				}
			}
		}
	}
}

div#controls {
	color: white;
	display: table;
	margin: 10px auto 25px;
	text-align: center;
	width: 75%;
	
	span {
		display: table-cell;
		font-size: 20px;
		vertical-align: middle;
		
		&#play-btn {
			font-size: 34px;
		}
		
		i {
			cursor: pointer;
		}
	}
}

div#timeline {
	position: relative;
	margin: 0 auto;
	width: 60%;

	span {
		color: darken(white, 30%);
		font-size: 12px;
		position: absolute;
		top: -30px;
		
		&#current-time {
			left: 0;
			font-size: 12px;
		}
		&#total-time {
			right: 0;
			font-size: 12px;
		}
	}
	
	div.slider {
		background-color: darken(white, 50%);
		border-radius: 2px;
		cursor: pointer;
		height: 2px;
		position: relative;
		width: 100%;
		
		div.progress {
			background-color: $primary-color;
			height: 100%;
			pointer-events: none;
			position: absolute;
			width: 0;
			
			div.pin {
				background-color: white;
				border-radius: 8px;
				height: 8px;
				position: absolute;
				pointer-events: all;
				right: -5px;
				top: -3px;
				width: 8px;
				@include box-shadow(0px 1px 1px 0px rgba(0,0,0,0.32));
				@include transition(transform 0.25s ease);
				
				&:active {
					@include transform(scale(1.5));
				}
			}
		}
	}
}



div#song-options {
	div#song-info {
		margin: 0 0 20px;
		position: relative;
		@extend .clearfix;
		
		img {
			float: left;
			width: 50px;
			@include box-shadow(0 2px 5px rgba(50, 50, 50, 0.2));
		}
		
		div.artist-wrap {
			box-sizing: border-box;
			float: right;
			padding: 0 0 0 8px;
			width: calc(100% - 50px);
			
			p {
				bottom: 4px;
				font-size: 16px;
				position: absolute;
				
				span {
					display: block;
					
					&.artist {
						font-size: 12px;
						font-weight: 300;
						margin: 4px 0 0;
					}
				}
			}
		}
	}
	
	ul {
		font-size: 16px;
	}
}

div#home-screen {
	@include linear-gradient(to bottom, lighten($wet-asphalt, 15%), lighten($wet-asphalt, 5%));
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	visibility: hidden;
	z-index: 2;
	@extend .flex-center;
	
	&.active {
		visibility: visible;
	}
	
	div.home-content {
		margin: 15px;
		padding-bottom: 80px;
		text-align: center;
		
		h2 {
			font-size: 22px;
			font-weight: 600;
		}
		
		p {
			font-size: 13px;
			line-height: 1.5;
			margin: 5px 0;
			
			&#made-by {
				
				a {
					color: white;
				}
			}
			
			&#icons-by {
				color: lighten($wet-asphalt, 30%);
				bottom: 15px;
				font-size: 11px;
				left: 0;
				position: absolute;
				text-align: center;
				width: 100%;
			}
			
			a {
				color: lighten($wet-asphalt, 40%);
				border-bottom: 1px solid lighten($wet-asphalt, 30%);
				text-decoration: none;
				padding: 0 1px;
				@include transition(border-color 0.25s ease, color 0.25s ease);
				
				&:hover {
					color: lighten($wet-asphalt, 50%);
					border-color: lighten($wet-asphalt, 50%);
				}
			}
		}
		
		div.app-icon {
			cursor: pointer;
			border-radius: 10px;
			height: 40px;
			margin: 30px auto 0;
			position: relative;
			width: 40px;
			@extend .flex-center;
			@include linear-gradient(to bottom, $primary-color, darken($primary-color, 10%));
			
			&:hover {
				@include linear-gradient(to bottom, darken($primary-color, 5%), darken($primary-color, 15%));
			}
			
			&::after {
				content: 'Music Player';
				font-size: 10px;
				position: absolute;
				top: 45px;
				white-space: nowrap;
			}
			
			.svg {
				height: 60%;
				width: 60%;
			}
		}
	}
}